
#gameScreen {
    width: 500px;
    height: 700px;
    position: absolute;
    border-style: outset;
    border-color: red;
    background-color: antiquewhite;
}
#ball {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
}
#bar{
    width: 100px;
    height: 20px;
    position: absolute;
    background-color: darkgreen;
}